<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Job 실행 결과(SAM)</title>
    <link rel="stylesheet" th:href="@{/css/egovframework/batch.css}" />
    <script type="text/javascript" th:inline="javascript">
        function fn_egov_goBack() { window.location.href = /*[[@{/batchList.do}]]*/ '/batchList.do'; }
        function fn_egov_close() { window.close(); }
    </script>
    <style>
        body { text-align:center; margin:0 auto; display:inline; padding-top:100px; }
    </style>
</head>
<body>
<div id="content_pop">
    <div id="title">
        <ul>
            <li>
                <img th:src="@{/images/egovframework/batch/title_dot.gif}" alt="" /> Job 실행 결과
            </li>
        </ul>
    </div>
    <div id="table" th:if="${jobInstances != null}">
        <div th:if="${jobInstances['error'] != null}" style="color: red; padding: 20px;">
            <b>오류 발생:</b> <span th:text="${jobInstances['error']}"></span>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" th:if="${jobInstances['error'] == null}">
            <colgroup>
                <col width="120"/>
                <col width="%"/>
            </colgroup>
            <tr><th colspan="2">Job 정보</th></tr>
            <tr>
                <td class="listtd"><b>Job 아이디</b></td>
                <td class="listtd" th:text="${jobInstances['id']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>Job 이름</b></td>
                <td class="listtd" th:text="${jobInstances['name']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>Job 파라미터</b></td>
                <td class="listtd" th:text="${jobInstances['parameters']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>Job 시작시간</b></td>
                <td class="listtd" th:text="${jobInstances['startTime']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>Job 실행 중 여부</b></td>
                <td class="listtd" th:text="${jobInstances['isRunning']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>Job 종료시간</b></td>
                <td class="listtd" th:text="${jobInstances['endTime']}"></td>
            </tr>
            <tr>
                <td class="listtd"><b>종료시 상태(exitStatus)</b></td>
                <td class="listtd" th:text="${jobInstances['exitStatus']}"></td>
            </tr>
        </table>

        <table width="100%" border="0" cellpadding="0" cellspacing="0" th:if="${jobInstances['error'] == null && stepsInfo != null}">
            <tr>
                <th width="40">Step 아이디</th>
                <th>Step 이름</th>
                <th>Read Count</th>
                <th>Write Count</th>
                <th>Read Skip Count</th>
                <th>Process Skip Count</th>
                <th>Write Skip Count</th>
                <th>Total Skip Count</th>
                <th>Commit Count</th>
                <th>Rollback Count</th>
                <th>종료시 상태(exitStatus)</th>
            </tr>
            <tr th:each="stepList : ${stepsInfo}">
                <td class="listtd" align="center" th:text="${stepList.stepId}"></td>
                <td class="listtd" align="center" th:text="${stepList.stepName}"></td>
                <td class="listtd" align="center" th:text="${stepList.readCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.writeCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.readSkipCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.processSkipCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.writeSkipCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.totalSkipCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.commitCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.rollbackCount}"></td>
                <td class="listtd" align="center" th:text="${stepList.exitStatus}"></td>
            </tr>
        </table>
    </div>
</div>

<div id="sysbtn1">
    <ul>
        <li>
            <div id="sysbtn">
                <ul>
                    <li>
                        <span class="btn_blue_l">
                            <a href="#" onclick="fn_egov_goBack();return false;">돌아가기</a>
                            <img th:src="@{/images/egovframework/batch/btn_bg_r.gif}" style="margin-left:6px;" alt="" />
                        </span>
                        <span class="btn_blue_l">
                            <a href="#" onclick="fn_egov_close();return false;">닫기</a>
                            <img th:src="@{/images/egovframework/batch/btn_bg_r.gif}" style="margin-left:6px;" alt="" />
                        </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    </div>
</body>
</html>

